/* pt-sans-regular - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/pt-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-v17-latin-regular.woff2") format("woff2"), url("../fonts/pt-sans-v17-latin-regular.woff") format("woff"), url("../fonts/pt-sans-v17-latin-regular.ttf") format("truetype"), url("../fonts/pt-sans-v17-latin-regular.svg#PTSans") format("svg"); /* Legacy iOS */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/pt-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-v17-latin-700.woff2") format("woff2"), url("../fonts/pt-sans-v17-latin-700.woff") format("woff"), url("../fonts/pt-sans-v17-latin-700.ttf") format("truetype"), url("../fonts/pt-sans-v17-latin-700.svg#PTSans") format("svg"); /* Legacy iOS */
}
.col-primary {
  color: #cc0000;
}

.col-primary-muted {
  color: rgb(224, 213, 213);
}

.col-gray {
  color: #cfcfd1;
}

.col-font {
  color: #585859;
}

img[alt] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.dsgvo-media-toggle {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  z-index: 998;
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}
@media screen and (min-width: 768px) {
  .dsgvo-media-toggle {
    left: -50%;
    bottom: 1rem;
    width: 25rem;
  }
}
.dsgvo-media-toggle.show {
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .dsgvo-media-toggle.show {
    left: 1rem;
    bottom: 1rem;
  }
}

.dsgvo-media {
  position: relative;
  width: 100%;
  background: #cfcfd1;
  border-radius: 10px;
  overflow: hidden;
}
.dsgvo-media.margin {
  margin-block: 1rem;
}
.dsgvo-media .need-permission {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #cc0000;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .dsgvo-media .need-permission {
    padding: 1.5rem 2.75rem;
  }
}
.dsgvo-media .need-permission span {
  color: #cfcfd1;
}
.dsgvo-media .image-source {
  position: absolute;
  z-index: 55;
  bottom: 0;
  left: 0;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.35rem 1rem;
  word-break: break-all;
  border-top-right-radius: 8px;
}
.dsgvo-media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img[alt] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}