/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v17-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v17-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}


$col-primary: #cc0000;
$col-warn: #f6cd37;
$col-gray: #d7d9d9;
$col-white: #f5f5f5;
$col-white-higher: #fafafa;
$col-font: #858585;
$col-font-light: #b2b2b2;

$colors: (
        'primary': $col-primary,
        'gray': $col-gray,
        'font': $col-font
);

$bp-tablet: 768px;
$bp-desktop: 1300px;

@each $name, $color in $colors {
  .col-#{$name} {
    color: $color;
  }
}