@use "utils";

.search-information {
  margin-bottom: 1.5rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
}

.search-info-text {
  gap: 1rem;
}

.tutorials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.tutorial-card {
  background-color: #FFF;
  border: 1px solid utils.$col-gray;
  border-radius: 5px;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    padding: 2rem;
    transition-duration: .25s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0 0 0 / 10%);
      border: 1px solid transparent;
    }
  }

  .button {
    margin-top: 1.5rem;
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: .5rem;

    .tag {
      font-size: 80%;
      border-radius: 100px;
      border: 1px solid utils.$col-primary;
      padding: .15rem .5rem;

      @media screen and (min-width: 768px) {
        transition-duration: .25s;

        &:hover {
          color: #FFF;
          background-color: utils.$col-primary;
          cursor: pointer;
        }
      }
    }
  }
}

.end {
  display: block;
  text-align: center;
  color: #cbcbcb;
  margin-top: 1rem;
}