@use "utils";

.search-information {
  margin-bottom: 1.5rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
}

html main, html .center {
  width: min(90%, 100rem);
}

html .search-info-text {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .button {
    margin: 0;
    justify-content: center;

    @media screen and (max-width: 600px) {
      padding: utils.$btn-padding;
    }
  }
}

.active-filter {
  color: utils.$col-primary;

  .results {
    color: utils.$col-font-light;
  }
}

.search-buttons-container {
  > span {
    display: inline-block;
    margin-bottom: .5rem;
  }

  .search-buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: .25rem;
    overflow-x: auto;
    overflow-y: visible;
    margin-bottom: 1rem;

    > * {
      flex-shrink: 0;
      flex-grow: 0;
    }

    .tag {
      padding: .2em 1em;

      &.active {
        cursor: not-allowed;
        background-color: utils.$col-primary;
        color: utils.$col-white;
      }

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
}

.tutorials {
  margin-top: 1.5rem;
}

.card {
  position: relative;
  background-color: utils.$col-white-element;
  border-radius: 5px;
  padding: 1rem;
  transition-duration: .25s;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }

  &.unavailable {
    cursor: not-allowed;
    text-decoration: none;
    overflow: hidden;
    border: 3px solid transparentize(utils.$col-font, .75);

    &::before {
      position: absolute;
      z-index: 98;
      content: "";

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: transparentize(utils.$col-white, .4);
      backdrop-filter: blur(2px);
    }

    &::after {
      position: absolute;
      z-index: 99;
      content: "";
      color: utils.$col-primary;
      font-size: 1.5rem;
      font-weight: 600;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      /*background-color: transparentize(utils.$col-white, .6);*/
      background-image: linear-gradient(-45deg, transparentize(utils.$col-font, .75) 0%, transparentize(utils.$col-font, .75) 10%, transparent 10%, transparent 18%, transparentize(utils.$col-font, .75) 18%, transparentize(utils.$col-font, .75) 27%, transparent 27%, transparent 36%, transparentize(utils.$col-font, .75) 36%, transparentize(utils.$col-font, .75) 45%, transparent 45%, transparent 54%, transparentize(utils.$col-font, .75) 54%, transparentize(utils.$col-font, .75) 63%, transparent 63%, transparent 72%, transparentize(utils.$col-font, .75) 72%, transparentize(utils.$col-font, .75) 81%, transparent 81%, transparent 90%, transparentize(utils.$col-font, .75) 90%, transparentize(utils.$col-font, .75) 100%);
    }
  }

  &.has-special-tags .title-container {
    margin-top: 2rem;

    @media screen and (min-width: utils.$bp-tablet) {
      margin-top: .9rem;
    }
  }

  .title-tags {
    position: absolute;
    top: -1px;
    left: -1px;
    display: flex;

    .title-tag {
      padding: .1rem .9rem;
      border-top: none;
      border-left: none;
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 3px;
      }

      &:last-child {
        border-bottom-right-radius: 3px;
      }
    }
  }

  .title-container {
    .title {
      font-size: 1.25rem;
      font-weight: 600;
      color: utils.$col-primary;
    }

    .button {
      width: 100%;

      @media screen and (utils.$bp-tablet) {

      }
    }
  }

  &:hover .title-tags .title-tag:first-child {
    border-top-left-radius: 3px;
  }

  .button {
    margin-top: 2rem;
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem;
    margin-top: .75rem;
  }
}

.tag, .title-tag {
  font-size: 70%;
  border-radius: 3px;
  border: 1px solid utils.$col-primary;
  color: utils.$col-primary;
  padding: 0 .75rem;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    transition-duration: .25s;

    &:hover {
      color: #FFF;
      background-color: utils.$col-primary;
      cursor: pointer;
    }
  }
}

.title-tag {
  border: none !important;
  border-radius: 3px;
  padding: .35rem .85rem;
  color: utils.$col-font;

  &:hover {
    color: utils.$col-font;
  }
}

.beta, .beta:hover {
  background-color: utils.$col-warn;
}

.deprecated, .deprecated:hover {
  background-color: #e0e0e0;
}

.needsUpdate, .needsUpdate:hover {
  background-color: #23e4ea;
}


.end {
  display: block;
  text-align: center;
  color: #cbcbcb;
  margin-top: 1rem;
}

.changelog {
  width: 100%;

  h3 {
    margin-bottom: 1rem;
  }

  ul {
    margin-top: 0;
  }

  ul:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 2300px) {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: utils.$col-white-higher;

    min-width: 200px;
    max-width: 325px;

    min-height: 100px;

    border: 2px solid utils.$col-primary;
    border-right: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0 0 0 / 10%);
    padding: 2rem !important;
  }
}

html body .changelog {
  padding-top: 0;
}