@use "utils";

.short::before {
  content: 'Zusammenfassung: ';
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  @media screen and (min-width: 768px) {
    gap: 2.5rem;
  }

  @media screen and (min-width: 1200px) {
    gap: 3.75rem;
  }
}


/* Empfohlene Frameworks & Tools */
.framework-categories {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

ul li div {
  list-style-type: none;
  border-left: 3px solid #c00;
  margin-left: .5em;
  padding-inline: 1rem;
  padding-block: .5rem;
  background: #efefef;

  &::before {
    content: 'Beschreibung:';
    font-weight: 700;
  }
}

.sublist-heading > ul li:not(:last-child), .single-list > li:not(:last-child) {
  margin-bottom: .5rem;
}

.sublist-heading:not(:last-child) {
  margin-bottom: .75rem;
}

.sublist-heading + .sublist-heading {
  margin-top: 1.75rem;
}

.tool-categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;

  @media screen and (min-width: utils.$bp-tablet) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25rem;
  }

  @media screen and (min-width: utils.$bp-desktop) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
  }

  .tool-category {
    border-radius: 5px;
    border: 1px solid #dadada;
    padding: 1rem;

    h3 {
      margin-bottom: .5em;
    }

    .tool-subcategory {

      h4 {
        margin-bottom: .35em;

        &:not(:first-child) {
          margin-top: .75rem;
        }
      }
    }

    .tools {
      grid-template-columns: 1fr;

      @media screen and (min-width: utils.$bp-desktop) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      }

      .tool {
        padding: .75rem;

        @media screen and (min-width: utils.$bp-tablet) {
          padding: 1rem;
        }

        a {
          color: utils.$col-primary;
        }

        .tool-description {
          margin-top: .35rem;
          padding: .25em .75em;
          background: #F5F5F5;
          border-left: 3px solid utils.$col-primary;

          ul {
            margin-block: .15rem;
          }
        }
      }
    }
  }
}

.checklist {
  margin-block: 1.5rem;

  .progress {
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 600;
    color: utils.$col-primary;
    margin-bottom: 1em;
    transition-duration: .25s;

    &.finished {
      color: utils.$col-gray;
      background-color: utils.$col-primary;
      margin-bottom: 0;
      padding: .5em 1em;
    }
  }

  .checks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition-duration: .25s;

    span {
      position: relative;
      z-index: 2;
      transition-duration: .25s;

      &:hover::after {
        opacity: .15;
      }

      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        background-color: utils.$col-primary;
        left: 0;
        top: 50%;
        transition-duration: .25s;
      }
    }

    input[type=checkbox]:checked + span {
      color: lighten(utils.$col-font, 10%);

      &::after {
        width: 100%;
      }
    }

    &.finished {
      padding: 1rem;
      background-color: utils.$col-gray;
    }
  }

  .checklist-section {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: .5em;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: .25rem;
    }
  }

  .check {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.dl-list {
  display: flex;
  flex-direction: row;
  gap: .25em;
  margin-block: 1rem;
}