@use "utils";

.short::before {
  content: 'Zusammenfassung: ';
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  @media screen and (min-width: 768px) {
    gap: 2.5rem;
  }

  @media screen and (min-width: 1200px) {
    gap: 3.75rem;
  }
}