$flaticon_dsa_tutorials-font: "flaticon_dsa_tutorials";

@font-face {
    font-family: $flaticon_dsa_tutorials-font;
    src: url("flaticon_dsa_tutorials.ttf?a004ffa046b726cfa891b328252506e7") format("truetype"),
url("flaticon_dsa_tutorials.woff?a004ffa046b726cfa891b328252506e7") format("woff"),
url("flaticon_dsa_tutorials.woff2?a004ffa046b726cfa891b328252506e7") format("woff2"),
url("flaticon_dsa_tutorials.eot?a004ffa046b726cfa891b328252506e7#iefix") format("embedded-opentype"),
url("flaticon_dsa_tutorials.svg?a004ffa046b726cfa891b328252506e7#flaticon_dsa_tutorials") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_dsa_tutorials !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_dsa_tutorials-map: (
    "up-arrow": "\f101",
);

.flaticon-up-arrow:before {
    content: map-get($flaticon_dsa_tutorials-map, "up-arrow");
}
